Resources/dbReferencePaisesAlta.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/dbReferencePaisesAlta" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/dbReferencePaisesAlta" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dbReferencePaisesAltaInput" type="dbReferencePaisesAltaInput"/>
   <xs:complexType name="dbReferencePaisesAltaInput">
      <xs:sequence>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>