Resources/RestService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:inp1="http://www.paises.org" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestService">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication1/SBPExamen/serviceeperimento" xmlns:inp1="http://www.paises.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://www.paises.org" schemaLocation="../xsd/paises.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/getpaises">
         <method name="GET" soa:wsdlOperation="execute">
            <request soa:paramElement="pns:Paises" xmlns:pns="http://www.paises.org">
               <param name="nombre" style="query" soa:expression="$msg.part1/inp1:Pais/inp1:nombre" type="xsd:string"/>
               <param name="descripcion" style="query" soa:expression="$msg.part1/inp1:Pais/inp1:descripcion" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:salida" xmlns:cns="http://www.paises.org"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
